*{
    box-sizing: border-box;
}

body{
    background-color: rgba(4, 64, 88, 0.466);
    text-align: center;
}

h1{
    font-weight: 700;
    font-family: "Dancing Script", cursive;
    color: antiquewhite;
    line-height: 1.5;
    letter-spacing: 2px;
}

h2{
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    color: beige;
}

table{
    border: 3px solid rgb(245, 245, 220);
    width: 650px;
    margin: 0 auto;
    font:
    16px "Open Sans",
    Helvetica,
    Arial,
    sans-serif;
}

table {
    display: table;
    border-collapse: separate;
    text-indent: initial;
    unicode-bidi: isolate;
    text-align: start;
}

th{
    display: table-cell;
    vertical-align: inherit;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    background-color: azure;
    text-align: -internal-center;
    padding: 10px 10px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    font-family: "PT-SANS", sans-serif;
    font-weight: 400;
}


.code{
    background-color: antiquewhite;
}

td{
    display: table-cell;
    border-top: 1px solid rgb(245, 245, 220);
    text-align: start;
}